<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../promisenext/services.js"></script>
    <script>
        window.onload = function(){

            function getDetails(){
                getCategories().then((response)=>{
                    return response.json();
                }).then((data)=>{
                    console.log(`Category Data ${JSON.stringify(data)}`);
                    // call in sequence
                    getProducts().then((resp)=>{
                        return resp.json();
                    }).then((prd)=>{
                        console.log(`Products Data ${JSON.stringify(prd)}`);
                    })
                }).catch((error)=>{
                    console.log(`Error Occured ${errors}`);
                });
            }
            getDetails();

            

        };
    </script>
</head>
<body>
    <h1>DEMO Promise Call in Sequencial Chain</h1>
</body>
</html>