<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../invocations/call.js"></script>
    <script src="./../invocations/apply.js"></script>
    <script src="./../invocations/bind.js"></script>
    <script src="./../invocations/overloading.js"></script>
    <script src="./../invocations/memoization.js"></script>
    <script>
        // access a method from the object using delegation created using bind()

console.log(greetFrench('Mahesh'));
console.log(greetEnglish('Mahesh'));
console.log(greetHindi('Mahesh'));
    </script>
</head>
<body>
    <h1>The call() demo</h1>
</body>
</html>