<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="./../promisenext/chain.js"></script> -->
    <script src="./../promisenext/fetchchain.js"></script>
    <script>
        // promiseChain();
        fetchData().then((response)=>{
           return response.json(); // return the promise that contains the JSON
        })
        .then((data)=>{
            console.log(`Received data ${JSON.stringify(data)}`);
        })
        .catch((error)=>{
            console.log('Error Occured');
        });

    </script>
</head>
<body>
    <h1>The DEMO for Promise in Chains</h1>
</body>
</html>